.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}

header{
    padding: 20px 40px;
    background: url('images/Hero-bg.png') no-repeat center center/cover;
}

.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary:hover{
    background-color: #3B36D9;
    box-shadow: 0 20px 16px rgba(0, 0, 0, 0.1);
}

.color-primary{
    color: #4E47FF;
}


/* Nav Bar */

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a{
    text-decoration: none;
    font-size: 34px;
}

/*  banner    */
.banner{
    text-align: center;
    padding: 70px;
    margin: auto;
    width: 60%;
}

.banner-heading{
    font-size: 50px;
}



/* Action */

.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    margin: 50px;
}

.action-content{
    max-width: 480px;
}

.action-heading{
    font-size: 42px;
}

.action-text{
    font-size: 24px;
    color: #C1C3CB;
}

.action-image{
    width: 300px;
    height: 250px;
    border-radius: 30px;
}



/* User Section */

.user-section{
    padding: 50px;
    margin:100px 150px;
    text-align: center;
    border-radius: 30px;
    background-color: #E5E7FF;
}

.user-head{
    font-size: 42px;
}

.infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.info{
    text-align: center;
}
.info-head{
    font-size: 32px;
    margin-bottom: 0;
}
.info-text{
    font-size: 20px;
    color: #8E8F9D;
}



/* Get in Touch */
.in-touch-section{
    display: flex;
    padding: 50px;
    margin: 100px 150px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background-color: #E5E7FF;
}
.in-touch-head{
    max-width: 300px;
    font-size: 50px;
}

.in-touch-form{
    width: 300px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
}

input[type="text"], input[type="email"], textarea{
    border-radius: 5px;
    background-color: white;
    min-height: 35px;
    display: block;
    width: 100%;
    border: none;
}

.in-touch-form button{
    width: 100%;
}
